<!DOCTYPE html>
<html>
<head>
  <title>Pepito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
<!-- porque sale en todos los formularios -->
	<% if session[:client_id] %>
<%= link_to 'Cerrar sesión', login_clients_path, method: :delete %>
	<% end %>

<%= yield %>

</body>
</html>
